#root {
  // max-width: 1280px;
  // margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movie-card {
  width: 330px;
}

.pagination {
  padding: 0;

  a {
    color: rgba(255, 255, 255, 0.87);
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
  }
}

.active-page {
  font-size: 22px;
}

.card-image-wrapper {
  display: block;
  background: #263238a3;
  height: 184px;
  overflow: hidden;

  .card-image {
    margin: auto;
    height: 184px;
  }
}

.main-title {
  position: relative;
  top: -4px;
}

.filter {
  min-width: 300px;
}

@mixin scrollbars(
    $size,
    $foreground-color,
    $background-color: mix($foreground-color, #bbb, 50%)
) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: 10px;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@include scrollbars(0.2em, #242424);